{% extends "base.html" %}
{% block content%}

        <div class="instruments">
                {% for i in instruments %}
                <div class="instrument">
                    <h3>{{i["Name"]}}</h3>
                    <p>{{i["Description"]}}</p>
                    <img src="{{i['URL']}}">
                </div>
                {%endfor%}
               
                
        </div>
{% endblock %}
{% block javascript%}
<script>
        // alert('Welcome to this wesite on MUSIC!!!!');
        header = document.getElementById("header");

        function setbgColor(color){
                header.style.backgroundColor = color;
        }
                

</script>
{% endblock %}